.site-logo {
 width: 150px;
}

.site-logo a {
 display: block;
 cursor: pointer;
}

.site-logo a,
.site-logo a img {
 width: 100%;
 height: 50px;
 display: block;
 object-fit: cover;
}

.header-section {
 height: 60px;
 box-shadow: 0 3px 2px 0 rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 4%), 0 -1px 0 0 rgb(0 0 0 / 4%);
}

.content-header {
 height: 60px;
 align-items: center;
}

.header-section a {
 text-decoration: none;
 cursor: pointer;
}

.menu-warrap {
 display: flex;
 list-style: none;
 justify-content: center;
 align-items: center;
 height: 100%;
}

.site-menu {
 flex: 1;
 padding: 0 15px;
}

.site-menu a {
 display: block;
 height: 60px;
 line-height: 60px;
 padding-left: 15px;
 padding-right: 15px;
 font-size: 16px;
 text-transform: capitalize;
 font-weight: 600;
 position: relative;
 transition: all .2s ease-out;
}

.site-menu a.active,
.site-menu a:hover {
 color: var(--color-third);
}

.site-menu a.active::before,
.site-menu a::after {
 position: absolute;
 content: "";
 background-color: var(--color-third);
 left: 0;
 right: 0;
 height: 3px;
 top: auto;
 bottom: 0;
}

.site-menu a::after {
 transform: scale(1, 0);
 transform-origin: bottom center;
 transition: all .2s ease-out;
}

.site-menu a:hover::after {
 display: block;
 transform: scale(1, 1);
}

.site-user {
 position: relative;
 height: 60px;
 display: flex;
 align-items: center;
}

.user-details {
 position: absolute;
 width: 150px;
 right: 0;
 bottom: auto;
 top: 61px;
 left: auto;
 background-color: var(--color-fifth);
 display: block;
 z-index: 51;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 0px 0px 3px 1px var(--color-primary);
 transition: all 0.2s ease-in-out;
}

.user-details .wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.user-details .wrapper>* {
 padding: 10px;
 cursor: pointer;
 font-size: 13px;
 font-weight: 500;
 line-height: 1;
}

.user-details .wrapper>*:first-child {
 border-bottom: 1px solid var(--color-fourth);
}

.user-details .wrapper>*:hover {
 background-color: var(--color-fourth);
 color: #fff;
}

.user-avatar {
 cursor: pointer;
}

.blur {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 display: none;
 z-index: 50;
}

@media (max-width:991px) {
 .site-logo {
  width: 150px;
 }

 .header-section,
 .content-header,
 .site-user {
  height: 50px;
 }

 .site-menu a {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
 }

 .user-avatar {
  width: 40px !important;
  height: 40px !important;
 }
 .user-details {
  top: 51px;
 }
}

@media (max-width: 767px) {
 .site-menu {
  display: none;
 }
 .content-header {
  justify-content: space-between;
 }
 .site-logo a,
 .site-logo a img {
  height: 35px;
 }
 .user-avatar {
  width: 40px !important;
  height: 40px !important;
 }
}