.choose-mood .MuiRadio-root.Mui-checked span svg path{
 fill: var(--color-primary) !important;
}
.choose-mood .MuiRadio-root.Mui-checked + span.MuiFormControlLabel-label {
 color: var(--color-primary) !important;
}
.choose-mood .MuiRadio-root {
 padding: 0 !important;
 padding-right: 5px !important;
}
.choose-mood label {
 margin-right: 5px !important;
 margin-left: 0 !important;
}
.choose-mood .list-mood {
 margin: -7.5px -15px;
}
.choose-mood .list-mood>* {
 padding: 7.5px 15px;
}
.choose-mood {
 margin-bottom: 15px;
}
.choose-mood h2 {
 color: var(--color-secondary);
}
.content-preview {
 overflow: hidden;
}
.content-preview img {
 width: 100%;
 height: auto;
 object-fit: cover;
 display: block;
}
.text-mood {
 font-size: 16px;
 font-weight: 500;
 color: var(--color-secondary);
 margin-top: 5px;
}
.btn-save-diary,
.btn-view-single-diary {
 padding: 6px 15px;
 font-size: 14px;
 font-weight: 500;
 text-transform: uppercase;
 background-color: var(--color-secondary);
 color: white;
 border: 1px solid var(--color-secondary);
 border-radius: 4px;
 cursor: pointer;
}
.btn-save-diary:disabled {
 background-color: var(--color-primary);
 cursor: not-allowed;
}
.btn-view-single-diary {
 cursor: pointer;
 text-decoration: none;
 margin-left: 15px;
}