.choose-mood .MuiRadio-root.Mui-checked span svg path{
 fill: var(--color-primary) !important;
}
.choose-mood .MuiRadio-root.Mui-checked + span.MuiFormControlLabel-label {
 color: var(--color-primary) !important;
}
.choose-mood .MuiRadio-root {
 padding: 0 !important;
 padding-right: 5px !important;
}
.choose-mood label {
 margin-right: 5px !important;
 margin-left: 0 !important;
}
.choose-mood .list-mood {
 margin: -7.5px -15px;
}
.choose-mood .list-mood>* {
 padding: 7.5px 15px;
}
.choose-mood {
 margin-bottom: 15px;
}
.choose-mood h2 {
 color: var(--color-secondary);
}
.content-preview {
 overflow: hidden;
}
.content-preview img {
 width: 100%;
 height: auto;
 object-fit: cover;
 display: block;
}
/* @media (max-width:1199px) {
 .content-preview img {
  height: 350px;
 }
}
@media (max-width:991px) {
 .content-preview img {
  height: 300px;
 }
}
@media (max-width:767px) {
 .content-preview img {
  height: 250px;
 }
}
@media (max-width:575px) {
 .content-preview img {
  height: 200px;
 }
} */